extends ../layout

block content


    .pb-2.mt-2.mb-4.border-bottom
        h2
            i.fas.fa-server(style='color: #1B4A7D').fa-sm
            | Gestão de Idéias
    
    div
        p= username
        p= isAdmin
    
