footer
  .container.text-center
    // p.float-left © 2020 Crio, Inc. All Rights Reserved
    ul.float-right.list-inline
      li.list-inline-item
        a(href='https://crio.cafe') Crio Café
      li.list-inline-item
        spam  | 
      li.list-inline-item
        a(href='https://200.systems') 200 Systems
