extends layout

block content
    .jumbotron
        .container
            h1.display-4 Fluid jumbotron
            p.lead This is a modified jumbotron that occupies the entire horizontal space of its parent.
    div aqui vai tudo