extends layout

block content
    .jumbotron
        h1.display-4 Crio+
        p.lead Este é o celeiro de ideias do Crio. De qual você gostaria de fazer parte?
        hr.my-4
        p As ideias que atigirem maior número de interessados serão colocadas em prática. Envie também a sua!
        a.btn.btn-primary.btn-lg(href="#" role="button") Saber mais
    .row
        .col-6
            .card
                img.card-img-top(src="https://images.tcdn.com.br/img/img_prod/837998/180_cafe_blend_da_semana_1_1_20200728204612.jpg" alt="...")
                .card-body
                    h5.card-title Card Title
                    p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
                    a.btn.btn-primary(href="#") Go somewhere

        .col-6
            .card
                img.card-img-top(src="https://images.tcdn.com.br/img/img_prod/837998/180_cafe_blend_da_semana_1_1_20200728204612.jpg" alt="...")
                .card-body
                    h5.card-title Card Title
                    p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
                    a.btn.btn-primary(href="#") Go somewhere

    .row
        .col-6
            .card
                img.card-img-top(src="https://images.tcdn.com.br/img/img_prod/837998/180_cafe_blend_da_semana_1_1_20200728204612.jpg" alt="...")
                .card-body
                    h5.card-title Card Title
                    p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
                    a.btn.btn-primary(href="#") Go somewhere

        .col-6
            .card
                img.card-img-top(src="https://images.tcdn.com.br/img/img_prod/837998/180_cafe_blend_da_semana_1_1_20200728204612.jpg" alt="...")
                .card-body
                    h5.card-title Card Title
                    p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
                    a.btn.btn-primary(href="#") Go somewhere

